<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <style>
            .center{
                display:block;
                margin-left:auto;
                margin-right:auto;
            }
        </style>
    </head>
    <body>
        <div class="card">
            <img src="../static/istock.jpg" class="card-img-top" height=50 alt="...">
          
            <div class="card-body">
              <h5 class="card-title">Public Cloud - Azure team</h5>
              <p class="card-text">This is the page we can grab data from Azure and Zabbix for the monthly reports.</p>
            </div>
        </div>
        <br>          
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{url_for('eupromo')}}" class="btn btn-primary">EU-Promotion</a>
            <a href="{{url_for('kcdm')}}" class="btn btn-primary">KCDM</a>
            <a href="{{url_for('crm')}}" class="btn btn-primary">CRM</a>
            
            
        </div>
        <br>
        <img src="../static/workspace.jpg" class="center" alt="..."> 
        
</html>
