{% extends "base.html" %}
{% block content %}
<h1>s19_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s19_app_cpu.jpg" alt="Image not found">
<h1>s19_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s19_app_mem.jpg" alt="Image not found">
<h1>s20_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s20_db_cpu.jpg" alt="Image not found">
<h1>s20_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s20_db_mem.jpg" alt="Image not found">
<h1>s21_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s21_app_cpu.jpg" alt="Image not found">
<h1>s21_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s21_app_mem.jpg" alt="Image not found">
<h1>s21_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s21_db_cpu.jpg" alt="Image not found">
<h1>s21_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s21_db_mem.jpg" alt="Image not found">
<h1>s22_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s22_app_cpu.jpg" alt="Image not found">
<h1>s22_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s22_app_mem.jpg" alt="Image not found">
<h1>s23_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s23_db_cpu.jpg" alt="Image not found">
<h1>s23_db_log.jpg</h1>
<img src="../static/{{crm_folder}}/s23_db_log.jpg" alt="Image not found">
<h1>s23_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s23_db_mem.jpg" alt="Image not found">
<h1>s23_page_life.jpg</h1>
<img src="../static/{{crm_folder}}/s23_page_life.jpg" alt="Image not found">
<h1>s24_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s24_app_cpu.jpg" alt="Image not found">
<h1>s24_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s24_app_mem.jpg" alt="Image not found">
<h1>s24_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s24_db_cpu.jpg" alt="Image not found">
<h1>s24_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s24_db_mem.jpg" alt="Image not found">
<h1>s25_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s25_app_cpu.jpg" alt="Image not found">
<h1>s25_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s25_app_mem.jpg" alt="Image not found">
<h1>s26_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s26_db_cpu.jpg" alt="Image not found">
<h1>s26_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s26_db_mem.jpg" alt="Image not found">
<h1>s27_app_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s27_app_cpu.jpg" alt="Image not found">
<h1>s27_app_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s27_app_mem.jpg" alt="Image not found">
<h1>s27_db_cpu.jpg</h1>
<img src="../static/{{crm_folder}}/s27_db_cpu.jpg" alt="Image not found">
<h1>s27_db_mem.jpg</h1>
<img src="../static/{{crm_folder}}/s27_db_mem.jpg" alt="Image not found">

{% endblock %}
