{% extends "base.html" %}
{% block content %}
    <h3>s14_qlik_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s14_qlik_cpu.jpg" alt="Image not found">
	<br>
    <h3>s14_qlik_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s14_qlik_mem.jpg" alt="Image not found">
	<br>
    <h3>s15_ap01_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s15_ap01_cpu.jpg" alt="Image not found">
	<br>
    <h3>s15_ap01_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s15_ap01_mem.jpg" alt="Image not found">
    <br>
    <h3>s15_ap02_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s15_ap02_cpu.jpg" alt="Image not found">
	<br>
    <h3>s15_ap02_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s15_ap02_mem.jpg" alt="Image not found">
    <br>
    <h3>s16_ap03_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s16_ap03_cpu.jpg" alt="Image not found">
    <h3>s16_ap03_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s16_ap03_mem.jpg" alt="Image not found">
    <h3>s16_ap04_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s16_ap04_cpu.jpg" alt="Image not found">
    <h3>s16_ap04_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s16_ap04_mem.jpg" alt="Image not found">
    <h3>s17_ap05_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s17_ap05_cpu.jpg" alt="Image not found">
    <h3>s17_ap05_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s17_ap05_mem.jpg" alt="Image not found">
    <h3>s17_ap06_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s17_ap06_cpu.jpg" alt="Image not found">
    <h3>s17_ap06_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s17_ap06_mem.jpg" alt="Image not found">
    <h3>s18_ap07_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s18_ap07_cpu.jpg" alt="Image not found">
    <h3>s18_ap07_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s18_ap07_mem.jpg" alt="Image not found">
    <h3>s19_bi01_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s19_bi01_cpu.jpg" alt="Image not found">
    <h3>s19_bi01_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s19_bi01_mem.jpg" alt="Image not found">
    <h3>s19_build01_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s19_build01_cpu.jpg" alt="Image not found">
    <h3>s19_build01_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s19_build01_mem.jpg" alt="Image not found">
    <h3>s20_dia01_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s20_dia01_cpu.jpg" alt="Image not found">
    <h3>s20_dia01_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s20_dia01_mem.jpg" alt="Image not found">
    <h3>s20_acr01_cpu.jpg</h3>
    <img src="../static/{{eu_folder}}/s20_acr01_cpu.jpg" alt="Image not found">
    <h3>s20_acr01_mem.jpg</h3>
    <img src="../static/{{eu_folder}}/s20_acr01_mem.jpg" alt="Image not found">
  
{% endblock %}
    
